# Clean

## Import

In [1]:
import pandas as pd

# Import 2021 Enchantments Lottery Data
raw_df = pd.read_csv(
    "./2024_results.csv",
    header=0,
    parse_dates=[
        "Preferred Entry Date 1",
        "Preferred Entry Date 2",
        "Preferred Entry Date 3",
        "Awarded Entry Date",
    ],
    date_format="%m-%d-%Y",
)

# Take a quick look at the data
raw_df.head()

,Preferred Entry Date 1,Preferred Division 1,Maximum Requested Group Size 1,Preferred Entry Date 2,Preferred Division 2,Maximum Requested Group Size 2,Preferred Entry Date 3,Preferred Division 3,Maximum Requested Group Size 3,Results Status,Awarded Preference,Awarded Entry Date,Awarded Entrance Code/Name,Awarded Group Size
0,5/15/2024,Core Enchantment Zone,4,6/5/2024,Core Enchantment Zone,4.0,8/1/2024,Core Enchantment Zone,4.0,Unsuccessful,NaN,NaN,NaN,NaN
1,5/15/2024,Core Enchantment Zone,8,5/31/2024,Core Enchantment Zone,8.0,6/14/2024,Core Enchantment Zone,8.0,Unsuccessful,NaN,NaN,NaN,NaN
2,5/15/2024,Stuart Zone,4,NaN,NaN,NaN,NaN,NaN,NaN,Unsuccessful,NaN,NaN,NaN,NaN
3,5/15/2024,Core Enchantment Zone,8,NaN,NaN,NaN,NaN,NaN,NaN,Unsuccessful,NaN,NaN,NaN,NaN
4,5/15/2024,Core Enchantment Zone,4,5/24/2024,Colchuck Zone,4.0,5/24/2024,Snow Zone,4.0,Unsuccessful,NaN,NaN,NaN,NaN

## Create Cleaned Full Application Dataframe

In [2]:
# Examine column data types
raw_df.dtypes

Preferred Entry Date 1             object
Preferred Division 1               object
Maximum Requested Group Size 1      int64
Preferred Entry Date 2             object
Preferred Division 2               object
Maximum Requested Group Size 2    float64
Preferred Entry Date 3             object
Preferred Division 3               object
Maximum Requested Group Size 3    float64
Results Status                     object
Awarded Preference                float64
Awarded Entry Date                 object
Awarded Entrance Code/Name         object
Awarded Group Size                float64
dtype: object

In [3]:
# Identify columns with date data
date_columns = [
    "Preferred Entry Date 1",
    "Preferred Entry Date 2",
    "Preferred Entry Date 3",
    "Awarded Entry Date",
]

# Convert date columns to datetime
for col in date_columns:
    raw_df[col] = pd.to_datetime(raw_df[col])

# Check column data types
raw_df.dtypes

Preferred Entry Date 1            datetime64[ns]
Preferred Division 1                      object
Maximum Requested Group Size 1             int64
Preferred Entry Date 2            datetime64[ns]
Preferred Division 2                      object
Maximum Requested Group Size 2           float64
Preferred Entry Date 3            datetime64[ns]
Preferred Division 3                      object
Maximum Requested Group Size 3           float64
Results Status                            object
Awarded Preference                       float64
Awarded Entry Date                datetime64[ns]
Awarded Entrance Code/Name                object
Awarded Group Size                       float64
dtype: object

In [4]:
# Number columns to convert NaN values to 0
number_columns = [
    "Maximum Requested Group Size 1",
    "Maximum Requested Group Size 2",
    "Maximum Requested Group Size 3",
    "Awarded Preference",
    "Awarded Group Size",
]

# Convert NaN values to 0
for col in number_columns:
    raw_df[col] = raw_df[col].fillna(0)

# Convert float to int
for col in raw_df.columns:
    if raw_df[col].dtype == "float64":
        raw_df[col] = raw_df[col].astype(int)

# Check column data types
raw_df.dtypes

Preferred Entry Date 1            datetime64[ns]
Preferred Division 1                      object
Maximum Requested Group Size 1             int64
Preferred Entry Date 2            datetime64[ns]
Preferred Division 2                      object
Maximum Requested Group Size 2             int64
Preferred Entry Date 3            datetime64[ns]
Preferred Division 3                      object
Maximum Requested Group Size 3             int64
Results Status                            object
Awarded Preference                         int64
Awarded Entry Date                datetime64[ns]
Awarded Entrance Code/Name                object
Awarded Group Size                         int64
dtype: object

In [5]:
# Fill NaN values in string columns and convert to string
columns_to_convert = [
    "Preferred Division 1",
    "Preferred Division 2",
    "Preferred Division 3",
    "Results Status",
    "Awarded Entrance Code/Name",
]
for col in columns_to_convert:
    # Converting to string may be unneccessary here
    raw_df[col] = raw_df[col].fillna("N/A").astype(str)

# Check column data types
raw_df.dtypes

Preferred Entry Date 1            datetime64[ns]
Preferred Division 1                      object
Maximum Requested Group Size 1             int64
Preferred Entry Date 2            datetime64[ns]
Preferred Division 2                      object
Maximum Requested Group Size 2             int64
Preferred Entry Date 3            datetime64[ns]
Preferred Division 3                      object
Maximum Requested Group Size 3             int64
Results Status                            object
Awarded Preference                         int64
Awarded Entry Date                datetime64[ns]
Awarded Entrance Code/Name                object
Awarded Group Size                         int64
dtype: object

In [6]:
# Examine NaN values
raw_df.isnull().sum()

Preferred Entry Date 1                0
Preferred Division 1                  0
Maximum Requested Group Size 1        0
Preferred Entry Date 2              466
Preferred Division 2                  0
Maximum Requested Group Size 2        0
Preferred Entry Date 3             1110
Preferred Division 3                  0
Maximum Requested Group Size 3        0
Results Status                        0
Awarded Preference                    0
Awarded Entry Date                40024
Awarded Entrance Code/Name            0
Awarded Group Size                    0
dtype: int64

In [7]:
# Convert NaN values in date columns to 0
# This feels like an odd approach, but I want to maintain the date data type.
# The analyst will need to understand that zero epoch dates are actually NaN values.
for col in date_columns:  # Date columns defined in previous cell
    raw_df[col] = raw_df[col].fillna(pd.Timestamp(0))

# Examine NaN values
raw_df.isnull().sum()

Preferred Entry Date 1            0
Preferred Division 1              0
Maximum Requested Group Size 1    0
Preferred Entry Date 2            0
Preferred Division 2              0
Maximum Requested Group Size 2    0
Preferred Entry Date 3            0
Preferred Division 3              0
Maximum Requested Group Size 3    0
Results Status                    0
Awarded Preference                0
Awarded Entry Date                0
Awarded Entrance Code/Name        0
Awarded Group Size                0
dtype: int64

In [8]:
# Examine data types again
raw_df.dtypes

Preferred Entry Date 1            datetime64[ns]
Preferred Division 1                      object
Maximum Requested Group Size 1             int64
Preferred Entry Date 2            datetime64[ns]
Preferred Division 2                      object
Maximum Requested Group Size 2             int64
Preferred Entry Date 3            datetime64[ns]
Preferred Division 3                      object
Maximum Requested Group Size 3             int64
Results Status                            object
Awarded Preference                         int64
Awarded Entry Date                datetime64[ns]
Awarded Entrance Code/Name                object
Awarded Group Size                         int64
dtype: object

In [9]:
# Examine values for each column
for col in raw_df.columns:
    print(f"Column: {col}")
    print(raw_df[col].value_counts())
    print("\n")

Column: Preferred Entry Date 1
Preferred Entry Date 1
2024-07-19    825
2024-08-02    767
2024-07-26    765
2024-08-01    722
2024-07-12    676
             ...
2024-10-24      6
2024-10-28      4
2024-10-27      2
2024-10-23      1
2024-10-29      1
Name: count, Length: 168, dtype: int64


Column: Preferred Division 1
Preferred Division 1
Core Enchantment Zone      30895
Colchuck Zone               5540
Snow Zone                   3444
Stuart  Zone                2295
Eightmile/Caroline Zone      591
Name: count, dtype: int64


Column: Maximum Requested Group Size 1
Maximum Requested Group Size 1
4    13139
2     8946
8     6991
6     6535
3     3206
5     2852
1      575
7      521
Name: count, dtype: int64


Column: Preferred Entry Date 2
Preferred Entry Date 2
2024-08-09    783
2024-07-26    776
2024-08-16    737
2024-07-19    702
2024-08-01    687
             ...
2024-10-27      4
2024-10-31      2
2024-10-28      2
2024-10-30      2
2024-10-29      1
Name: count, Length: 171, dtype: int64


Column: Preferred Division 2
Preferred Division 2
Core Enchantment Zone      25909
Colchuck Zone               7985
Snow Zone                   4579
Stuart  Zone                2852
Eightmile/Caroline Zone      974
N/A                          466
Name: count, dtype: int64


Column: Maximum Requested Group Size 2
Maximum Requested Group Size 2
4    12965
2     8857
8     6906
6     6457
3     3170
5     2842
1      593
7      509
0      466
Name: count, dtype: int64


Column: Preferred Entry Date 3
Preferred Entry Date 3
1970-01-01    1110
2024-08-16     725
2024-08-23     689
2024-08-09     679
2024-07-26     660
              ...
2024-10-28       9
2024-10-27       5
2024-10-31       3
2024-10-30       3
2024-10-29       3
Name: count, Length: 171, dtype: int64


Column: Preferred Division 3
Preferred Division 3
Core Enchantment Zone      24780
Colchuck Zone               6850
Snow Zone                   5332
Stuart  Zone                3276
Eightmile/Caroline Zone     1417
N/A                         1110
Name: count, dtype: int64


Column: Maximum Requested Group Size 3
Maximum Requested Group Size 3
4    12647
2     8720
8     6885
6     6401
3     3137
5     2760
0     1110
1      609
7      496
Name: count, dtype: int64


Column: Results Status
Results Status
Unsuccessful    39898
Accepted         2364
No Response       287
Cancelled         126
Declined           90
Name: count, dtype: int64


Column: Awarded Preference
Awarded Preference
0    40024
1     1379
2      706
3      656
Name: count, dtype: int64


Column: Awarded Entry Date
Awarded Entry Date
1970-01-01    40024
2024-10-07       24
2024-09-29       23
2024-09-16       23
2024-09-02       23
              ...
2024-10-27        8
2024-10-22        8
2024-10-29        4
2024-10-31        4
2024-10-30        2
Name: count, Length: 171, dtype: int64


Column: Awarded Entrance Code/Name
Awarded Entrance Code/Name
N/A                        40024
Core Enchantment Zone        790
Snow Zone                    689
Stuart  Zone                 529
Colchuck Zone                380
Eightmile/Caroline Zone      353
Name: count, dtype: int64


Column: Awarded Group Size
Awarded Group Size
0    40024
4      788
2      637
8      430
6      390
3      208
5      165
1       98
7       25
Name: count, dtype: int64

In [10]:
# Examine the first 20 rows
raw_df.head(20)

,Preferred Entry Date 1,Preferred Division 1,Maximum Requested Group Size 1,Preferred Entry Date 2,Preferred Division 2,Maximum Requested Group Size 2,Preferred Entry Date 3,Preferred Division 3,Maximum Requested Group Size 3,Results Status,Awarded Preference,Awarded Entry Date,Awarded Entrance Code/Name,Awarded Group Size
0,2024-05-15,Core Enchantment Zone,4,2024-06-05,Core Enchantment Zone,4,2024-08-01,Core Enchantment Zone,4,Unsuccessful,0,1970-01-01,N/A,0
1,2024-05-15,Core Enchantment Zone,8,2024-05-31,Core Enchantment Zone,8,2024-06-14,Core Enchantment Zone,8,Unsuccessful,0,1970-01-01,N/A,0
2,2024-05-15,Stuart Zone,4,1970-01-01,N/A,0,1970-01-01,N/A,0,Unsuccessful,0,1970-01-01,N/A,0
3,2024-05-15,Core Enchantment Zone,8,1970-01-01,N/A,0,1970-01-01,N/A,0,Unsuccessful,0,1970-01-01,N/A,0
4,2024-05-15,Core Enchantment Zone,4,2024-05-24,Colchuck Zone,4,2024-05-24,Snow Zone,4,Unsuccessful,0,1970-01-01,N/A,0
5,2024-05-15,Core Enchantment Zone,7,2024-05-16,Core Enchantment Zone,7,2024-05-17,Core Enchantment Zone,7,Unsuccessful,0,1970-01-01,N/A,0
6,2024-05-15,Core Enchantment Zone,2,2024-05-15,Core Enchantment Zone,2,2024-05-15,Core Enchantment Zone,2,Unsuccessful,0,1970-01-01,N/A,0
7,2024-05-15,Stuart Zone,3,2024-05-16,Stuart Zone,3,2024-05-17,Stuart Zone,3,Unsuccessful,0,1970-01-01,N/A,0
8,2024-05-15,Colchuck Zone,8,2024-06-11,Core Enchantment Zone,8,2024-09-11,Core Enchantment Zone,8,Unsuccessful,0,1970-01-01,N/A,0
9,2024-05-15,Colchuck Zone,4,2024-05-15,Colchuck Zone,4,2024-05-15,Colchuck Zone,4,Unsuccessful,0,1970-01-01,N/A,0
10,2024-05-15,Colchuck Zone,2,2024-06-17,Core Enchantment Zone,2,2024-08-06,Stuart Zone,2,Unsuccessful,0,1970-01-01,N/A,0
11,2024-05-15,Colchuck Zone,4,2024-05-18,Colchuck Zone,4,2024-05-17,Core Enchantment Zone,4,Unsuccessful,0,1970-01-01,N/A,0
12,2024-05-15,Core Enchantment Zone,6,2024-07-10,Core Enchantment Zone,6,2024-09-11,Core Enchantment Zone,6,Unsuccessful,0,1970-01-01,N/A,0
13,2024-05-15,Core Enchantment Zone,3,2024-05-16,Core Enchantment Zone,3,2024-05-17,Core Enchantment Zone,3,Unsuccessful,0,1970-01-01,N/A,0
14,2024-05-15,Stuart Zone,2,2024-05-16,Stuart Zone,4,2024-05-17,Stuart Zone,4,Unsuccessful,0,1970-01-01,N/A,0
15,2024-05-15,Core Enchantment Zone,6,2024-10-26,Core Enchantment Zone,6,2024-09-13,Core Enchantment Zone,6,Unsuccessful,0,1970-01-01,N/A,0
16,2024-05-15,Core Enchantment Zone,4,2024-08-08,Core Enchantment Zone,4,2024-09-15,Core Enchantment Zone,5,Unsuccessful,0,1970-01-01,N/A,0
17,2024-05-15,Core Enchantment Zone,4,2024-08-28,Core Enchantment Zone,4,2024-09-01,Core Enchantment Zone,4,Unsuccessful,0,1970-01-01,N/A,0
18,2024-05-15,Core Enchantment Zone,7,2024-05-16,Core Enchantment Zone,7,2024-05-17,Core Enchantment Zone,7,Unsuccessful,0,1970-01-01,N/A,0
19,2024-05-15,Core Enchantment Zone,2,2024-05-17,Core Enchantment Zone,2,1970-01-01,N/A,0,Unsuccessful,0,1970-01-01,N/A,0

In [11]:
# Find where the awarded group size is greater than zero but less than the maximum requested group size and the awarded preference was
# for that entry
print(
    len(
        raw_df[
            (raw_df["Awarded Group Size"] > 0)
            & (raw_df["Awarded Group Size"] < raw_df["Maximum Requested Group Size 1"])
            & (raw_df["Awarded Preference"] == 1)
        ]
    )
)
print(
    len(
        raw_df[
            (raw_df["Awarded Group Size"] > 0)
            & (raw_df["Awarded Group Size"] < raw_df["Maximum Requested Group Size 2"])
            & (raw_df["Awarded Preference"] == 2)
        ]
    )
)
print(
    len(
        raw_df[
            (raw_df["Awarded Group Size"] > 0)
            & (raw_df["Awarded Group Size"] < raw_df["Maximum Requested Group Size 3"])
            & (raw_df["Awarded Preference"] == 3)
        ]
    )
)

0
0
0

In [12]:
# Change columns names to lower case with underscores for spaces
raw_df.columns = [
    col.lower().replace(" ", "_").replace("/", "_") for col in raw_df.columns
]

# Check the names
raw_df.columns

Index(['preferred_entry_date_1', 'preferred_division_1',
       'maximum_requested_group_size_1', 'preferred_entry_date_2',
       'preferred_division_2', 'maximum_requested_group_size_2',
       'preferred_entry_date_3', 'preferred_division_3',
       'maximum_requested_group_size_3', 'results_status',
       'awarded_preference', 'awarded_entry_date',
       'awarded_entrance_code_name', 'awarded_group_size'],
      dtype='object')

In [13]:
# Export cleaned data to csv
raw_df.to_csv("./2024_results_cleaned.csv", index=False, date_format="%m-%d-%Y")

In [14]:
# Check import of cleaned data
cleaned_raw_df = pd.read_csv(
    "./2024_results_cleaned.csv",
    # Import was failing to parse date columns, so I
    # had to pass in the column names
    parse_dates=[
        "preferred_entry_date_1",
        "preferred_entry_date_2",
        "preferred_entry_date_3",
        "awarded_entry_date",
    ],
    date_format="%m-%d-%Y",  # Align format with export format
    na_filter=False,  # Do not convert 'N/A' to NaN
)

# Check the datatypes
cleaned_raw_df.dtypes

preferred_entry_date_1            datetime64[ns]
preferred_division_1                      object
maximum_requested_group_size_1             int64
preferred_entry_date_2            datetime64[ns]
preferred_division_2                      object
maximum_requested_group_size_2             int64
preferred_entry_date_3            datetime64[ns]
preferred_division_3                      object
maximum_requested_group_size_3             int64
results_status                            object
awarded_preference                         int64
awarded_entry_date                datetime64[ns]
awarded_entrance_code_name                object
awarded_group_size                         int64
dtype: object

In [15]:
# Check cleaned data frame for NaN values
cleaned_raw_df.isnull().sum()

preferred_entry_date_1            0
preferred_division_1              0
maximum_requested_group_size_1    0
preferred_entry_date_2            0
preferred_division_2              0
maximum_requested_group_size_2    0
preferred_entry_date_3            0
preferred_division_3              0
maximum_requested_group_size_3    0
results_status                    0
awarded_preference                0
awarded_entry_date                0
awarded_entrance_code_name        0
awarded_group_size                0
dtype: int64

## Create Cleaned Split Dataframe

In [16]:
# It may be better to break up each individual entry into its own row, so that the data can be analyzed more easily.
preferred_options = [1, 2, 3]

# Columns that every dataframe will have
shared_columns = [
    "results_status",
    "awarded_preference",
    "awarded_entry_date",
    "awarded_entrance_code_name",
    "awarded_group_size",
]
new_dataframes = []

# Iterate over each option number creating a new dataframe for each
for option in preferred_options:
    # Get the columns for the current option
    columns = [
        f"preferred_division_{option}",
        f"preferred_entry_date_{option}",
        f"maximum_requested_group_size_{option}",
    ]
    # Create a new dataframe for the current option
    df_option = cleaned_raw_df[columns + shared_columns].copy()
    # Rename the columns to remove the option number
    df_option.columns = [
        "preferred_division",
        "preferred_entry_date",
        "maximum_requested_group_size",
    ] + shared_columns
    # Add a column to indicate if the permit was awarded for the current option
    df_option["awarded"] = df_option["awarded_preference"] == option
    df_option["preferred_option"] = option

    # Append the new dataframe to the list of dataframes
    new_dataframes.append(df_option)

# Concatenate the list of dataframes into a single dataframe
df_split = pd.concat(new_dataframes)

# Drop rows where the preferred division is N/A
df_split = df_split[df_split["preferred_division"] != "N/A"]

# Check the new dataframe
df_split.head()

,preferred_division,preferred_entry_date,maximum_requested_group_size,results_status,awarded_preference,awarded_entry_date,awarded_entrance_code_name,awarded_group_size,awarded,preferred_option
0,Core Enchantment Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1
1,Core Enchantment Zone,2024-05-15,8,Unsuccessful,0,1970-01-01,N/A,0,False,1
2,Stuart Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1
3,Core Enchantment Zone,2024-05-15,8,Unsuccessful,0,1970-01-01,N/A,0,False,1
4,Core Enchantment Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1

In [17]:
# Add the month of the preferred entry date to the dataframe
import calendar

# Get the month as an integer
df_split["preferred_entry_date" + "_month"] = df_split["preferred_entry_date"].dt.month
# Get the month as a string
df_split["preferred_entry_date" + "_month"] = df_split[
    "preferred_entry_date" + "_month"
].apply(lambda x: calendar.month_name[x])

# Check the data
df_split.head()

,preferred_division,preferred_entry_date,maximum_requested_group_size,results_status,awarded_preference,awarded_entry_date,awarded_entrance_code_name,awarded_group_size,awarded,preferred_option,preferred_entry_date_month
0,Core Enchantment Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1,May
1,Core Enchantment Zone,2024-05-15,8,Unsuccessful,0,1970-01-01,N/A,0,False,1,May
2,Stuart Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1,May
3,Core Enchantment Zone,2024-05-15,8,Unsuccessful,0,1970-01-01,N/A,0,False,1,May
4,Core Enchantment Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1,May

In [18]:
# Add the day of the week columns based on preferred entry date
df_split["preferred_entry_date" + "_day"] = df_split[
    "preferred_entry_date"
].dt.day_name()

# Check the data
df_split.head()

,preferred_division,preferred_entry_date,maximum_requested_group_size,results_status,awarded_preference,awarded_entry_date,awarded_entrance_code_name,awarded_group_size,awarded,preferred_option,preferred_entry_date_month,preferred_entry_date_day
0,Core Enchantment Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1,May,Wednesday
1,Core Enchantment Zone,2024-05-15,8,Unsuccessful,0,1970-01-01,N/A,0,False,1,May,Wednesday
2,Stuart Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1,May,Wednesday
3,Core Enchantment Zone,2024-05-15,8,Unsuccessful,0,1970-01-01,N/A,0,False,1,May,Wednesday
4,Core Enchantment Zone,2024-05-15,4,Unsuccessful,0,1970-01-01,N/A,0,False,1,May,Wednesday

In [19]:
# Export the split data to a csv file
df_split.to_csv("./2024_results_split.csv", index=False, date_format="%m-%d-%Y")